.root {
	-fx-background-image:url("/resources/images/testbg.png");
	-fx-background-position:center ;
	-fx-background-repeat:no-repeat ;
	-fx-effect: dropshadow(gaussian, steelblue, 15, 0, 0, 0);
	-fx-background-insets: 10;
	-fx-background-radius: 20px;
	-fx-background-color:linear-gradient(to bottom, rgba(135,206,235,0.8) , rgba(33, 33, 33,0.7) );
}
.label {
	-fx-text-fill:  white;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1) ;
}
.button, .combo-box, .text-field, .tab {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, #95BCEF 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: linear-gradient(to bottom, darkgrey , black);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button:hover, .combo-box:hover, .tab:hover  {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, #AFC3DC 100%),
        radial-gradient(center 50% -40%, radius 200%, #F0F0F0  45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: black;
}
.combo-box, .text-field {
    -fx-background-radius: 5;
}
.combo-box-base {
    -fx-background-radius: 5;
}
.tab {
	-fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-color: rgba(255, 255, 255, 0.7);
}
.tab:hover, tab:focused {
	-fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-color: rgba(255, 255, 255, 0.8);
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    /* if outer border should be 10 radius */
    -fx-background-radius: 10;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 10;
}
.tab-pane *.tab-header-background {
	-fx-background-color: rgba(189, 211, 255, 0.7);
	-fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}
#tabarea {
	 -fx-background-color:linear-gradient(to bottom, rgba(189, 211, 255, 0.7) , rgba(33, 33, 33, 0.3) );
	 -fx-background-radius: 0 0 10 10, 0 0 9 9, 0 0 8 8 ;
}
