/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image:url("/resources/images/testbg.png");
	-fx-background-position:center ;
	-fx-background-repeat:no-repeat ;
	-fx-effect: dropshadow(gaussian, gray, 15, 0, 0, 0);
	-fx-background-insets: 10;
	-fx-background-radius: 20px;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    /* if outer border should be 10 radius */
    -fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 9 9 0 0, 8 8 0 0;
}